/* header.html */

body {
  margin: 0;
}

#header {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb( 12,  75, 126);
}

#header p {
  color: white;
}

#header div {
  display: inline-block;
}

#header div img {
  display: inline-block;
  padding: 10px;
  height: 60px;
  width: auto;
}

#header div ul {
  height: 80px;
  margin: 0;
}

#header div ul li {
  height: 16px;
  font-size: 16px;
  padding: 32px 8px;
  display: inline-block;
  color: white;
}

#header div ul li:hover {
  background-color: rgb(213, 230, 244);
}

#header div ul li:hover {
  color: rgb(12, 75, 126);
}

/* footer.html */
#footer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb( 12,  75, 126);
  height: 300px;
}

#footer p {
  color: white;
}

#footer div {
  display: inline-block;
}

#footer div div {
  display: block;
}

#footer div img {
  padding: 10px;
  height: 60px;
  width: auto;
}

#footer div ul {
  vertical-align: top;
  display: inline-block;
  height: 80px;
  margin: 0;
  list-style: none;
}

#footer div ul li {
  height: 16px;
  font-size: 16px;
  padding: 8px;
  color: white;
}

#footer div ul li a {
  height: 16px;
  font-size: 16px;
  padding: 32px 8px;
  color: white;
}

#footer div ul li a:hover {
  color: rgb(213, 230, 244);
}

#copyright {
  padding: 30px;
  color: white;
  text-align: center;
  background-color: rgb( 12,  75, 126);
}

/* index.html */
#front-page {
  display: inline-block;
}

#front-eyecatch {
  padding: 50px;
  display: inline-block;
}

#front-eyecatch img {
  width: 300px;
  height: auto;
}

#front-eyecatch p {
  width: 720px;
}

#video {
  width: 25%;
  display: inline-block;
}

#video video {
  width: 100%;
}

#demo-button {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb( 12,  75, 126); 
  border-color: rgb( 12,  75, 126); 
  border-radius: 40px;
  border-width : 3px;
  width: 200px;
  text-align: center;
  padding: 20px;
  border-style: solid;
  display: inline-block;
  color: white;
}

#demo-button:hover {
  background-color: white;
  color: rgb( 12,  75, 126);
}

#trial-button {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  border-color: rgb( 12,  75, 126); 
  border-radius: 40px;
  border-width : 3px;
  width: 200px;
  text-align: center;
  padding: 20px;
  border-style: solid;
  display: inline-block;
  color: rgb( 12, 75, 126);
}

#trial-button:hover {
  background-color: rgb( 12,  75, 126);
  color: white;
}

/* news.html, enquete.html */
#news {
  text-align: center;
}


#wanted-news-list-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.wanted-news-list {
  text-align: center;
  border  : 3px solid;
  display : inline-block;
  padding : 2px 1em;
  margin  : 4px;
  border-radius: 16px;
  width   : 25%;
  height  : auto;
}

.wanted-news-list p {
  height: 3em;
}
.wanted-news-list img {
  width: 100%;
  height: auto;
}

#enquete {
  text-align: center;
}

#room {
  margin: 60px;
  text-align: center;
}

#room h2 {
  padding: 20px;
}

#suggestion {
  margin: 60px;
  text-align: center;
}

#suggestion h2 {
  padding: 20px;
}

#suggested-news-wrappter {
  text-align: center;
}

#suggested-news {
  border  : 3px solid;
  padding : 2px 1em;
  margin  : 4px;
  border-radius: 16px;
  height  : 400px;
  background-color: rgb(213, 230, 244);
  display: block;
}

#suggested-news h3 {
  height: 2em;
}

#suggested-news img {
  height: 300px;
  width: auto;
}

#computing {
  margin: 60px;
  text-align: center;
}

#computing h2 {
  padding: 20px;
}

#error-message {
  color: red;
  font-weight: bold;
}

#video-position {
  align: center;
  margin: auto;
  border-collapse: collapse;
}

#video-position, #video-position td, #video-position tr {
  border: 2px solid;
}

.video-position-left {
  width: 180px;
  text-align: center;
}

.video-position-right {
  width: 60px;
  text-align: center;
}

#video-position-list {
  list-style: none;
}

#emotion-chart-wrapper {
  width: 360px;
  height: auto;
}

#evaluation-content {
  padding: 40px;
}

#evaluation-content div {
  display: inline-block;
}
