<div id="footer">
  <div>
    <div>
      <p><b>オンライン</b>の<br><b>アイスブレイクツール</b>なら</p>
    </div>
    <div>
      <a href="/"><img src="/static/images/meltice-logo-white.png"></a>
    </div>
  </div>
  <div>
    <ul>
      <li><b>運営</b></li>
      <li>Meltice</li>
      <li>奈良先端科学技術大学院大学</li>
      <li>ユビキタスコンピューティングシステム研究室</li>
    </ul>
    <ul>
      <li><b>サービス</b></li>
      <li><a href="/">無料トライアル</a></li>
      <li><a href="/">Meltice Casual</a></li>
      <li><a href="/">Meltice International</a></li>
      <li><a href="/">Meltice With</a></li>
      <li><a href="/">Meltice Academia</a></li>
    </ul>
    <ul>
      <li><b>利用に関して</b></li>
      <li><a href="/">利用規約</a></li>
      <li><a href="/">プライバシーポリシー</a></li>
      <li><a href="/">情報セキュリティー基本方針</a></li>
      <li><a href="/">特定商取引法に基づく表示</a></li>
    </ul>
  </div>
</div>
<div id="copyright">(c) Copyright 2021 by Meltice.</div>
