@charset "UTF-8";

#contact {
  padding: 30px;
  text-align: center;
}

#contact .form-label {
  text-align: left;
}

#contact .form-group {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact[v-cloak] {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
