<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script async src="[[ url_for('static', filename='js/app.js') ]]"></script>
    <link rel="stylesheet" href="[[ url_for('static', filename='css/styles.css') ]]"></script>
    <link rel="icon" type="image/x-icon" href="[[ url_for('static', filename='images/favicon.png') ]]">
    <title>評価 - オンラインのアイスブレイクツールならMeltice</title>
  </head>
  <body>
    [% include "html/header.html" %]
    <div id="analysis">
      <div>
        <h2>zoom idを入力してください<input type="text" v-model="zoom_id" placeholder="xxx xxxx xxxx"></h2>
      </div>
      <div id="demo-button" @click="evaluationSet">
        参加者を見る
      </div>
      <div v-if="names.length > 0" id="evaluation-content">
        <select v-model="particular_name">
          <option v-for="name in names" :value="name">{{ name }}</option>
        </select>
        <h2>{{ particular_name }}</h2>
        <div id="emotion-chart-wrapper"><canvas id="emotion-chart"></canvas></div>
        <div v-if="particular_name.length > 0" v-model="evaluationDisplay(particular_name)">
          <img :src="speaking_im_b64">
        </div>
      </div>
    </div>
    [% include "html/footer.html" %]
  </body>
</html>
