<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script async src="[[ url_for('static', filename='js/app.js') ]]"></script>
    <link rel="stylesheet" href="[[ url_for('static', filename='css/styles.css') ]]"></script>
    <link rel="icon" type="image/x-icon" href="[[ url_for('static', filename='images/favicon.png') ]]">
    <title>ニュースの話題提示 - オンラインのアイスブレイクツールならMeltice</title>
    <link rel="stylesheet" href="../static/css/contact/contact.css">
  </head>
  <body>
    [% include "html/header.html" %]
    <!-- お問い合わせ -->
    <div id="contact">
      <h2>お問い合わせフォーム</h2>
      <!-- 入力する① -->
      <form action="https://docs.google.com/forms/u/0/d〇〇〇〇〇〇FqnWc-51PA/formResponse" id="form" method="post" target="hidden_iframe" onsubmit="submitted=true;">
        <div class="label">名前</div>
        <input id="name" name="entry.〇〇〇〇" placeholder="名前" required="required" type="text" />

        <div class="label">メールアドレス</div>
        <!-- 入力する② -->
        <input id="email" name="entry.〇〇〇〇" placeholder="meltice@example.com" required="required" type="email" />

        <div class="label">電話番号</div>
        <!-- 入力する③ -->
        <input id="tel" name="entry.〇〇〇〇" placeholder="電話番号" required="required" type="tel" />

        <div class="label">会社名・団体名</div>
        <!-- 入力する④ -->
        <input id="company" name="entry.〇〇〇〇" placeholder="会社名・団体名" required="required" type="text" />

        <div class="label">お問い合わせ内容</div>
        <!-- 入力する⑤ -->
        <textarea id="msg" name="entry.〇〇〇〇" placeholder="" required="required"></textarea>

        <div style="text-align:center">
          <input id="button" name="button" type="submit" value="送 信" />
        </div>
      </form>

      <script type="text/javascript">var submitted = false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='/contact-thanks';}"></iframe>
    </div>
    <!-- /問い合わせ -->
    [% include "html/footer.html" %]
  </body>
</html>
