<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script async src="[[ url_for('static', filename='js/app.js') ]]"></script>
    <link rel="stylesheet" href="[[ url_for('static', filename='css/styles.css') ]]"></script>
    <link rel="icon" type="image/x-icon" href="[[ url_for('static', filename='images/favicon.png') ]]">
    <title>ニュースのアンケート - オンラインのアイスブレイクツールならMeltice</title>
  </head>
  <body>
    [% include "html/header.html" %]
    <div id="enquete">
      <h2>名前を入力してください: <input type="text" v-model="name" placeholder="名前"></h2>
      <h2 v-model="newsQuestion">興味があるニュースページを選んでください</h2>
      <div id="wanted-news-list-wrapper">
        <wanted-news-list v-for="news in news_list" :key="news.news_id" :news="news" @is_wanted="(is_wanted) => news.is_wanted=is_wanted"></wanted-news-list>
      </div>
      <div id="demo-button" @click="degreeSave">
        送信
      </div>
    </div>
    [% include "html/footer.html" %]
  </body>
</html>
