<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script async src="[[ url_for('static', filename='js/app.js') ]]"></script>
    <link rel="stylesheet" href="[[ url_for('static', filename='css/styles.css') ]]"></script>
    <link rel="icon" type="image/x-icon" href="[[ url_for('static', filename='images/favicon.png') ]]">
    <title>ニュース登録 - オンラインのアイスブレイクツールならMeltice</title>
  </head>
  <body>
    [% include "html/header.html" %]
    <div id="news">
      <h2>zoom idを入力してください: <input type="text" v-model="zoom_id" placeholder="xxx xxxx xxxx"></h2>
      <h2 v-model="newsSuggest">質問に入れたいニュースページを選んでください</h2>
      <div id="wanted-news-list-wrapper">
        <wanted-news-list v-for="(news, ix) in news_list" v-if="ix<range_end" :key="news.news_id" :news="news" @is_wanted="(is_wanted) => news.is_wanted=is_wanted"></wanted-news-list>
        <div id="demo-button" @click="moreNewsSuggest">
          もっと見る
        </div>
        <div id="trial-button" @click="newsSave">
          送信
        </div>
      </div>
    </div>
    [% include "html/footer.html" %]
  </body>
</html>
