<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script async src="[[ url_for('static', filename='js/app.js') ]]"></script>
    <link rel="stylesheet" href="[[ url_for('static', filename='css/styles.css') ]]"></script>
    <link rel="icon" type="image/x-icon" href="[[ url_for('static', filename='images/favicon.png') ]]">
    <title>ルーム参加登録 - オンラインのアイスブレイクツールならMeltice</title>
  </head>
  <body>
    [% include "html/header.html" %]
    <div id="room">
      <h2>名前を入力してください</h2>
      <span>
        <input class="balloon" id="name_text_style" type="text" v-model="name" placeholder="your name" autofocus /><label for="name_text_style">名前</label>
      </span>
      <h2>Zoom Meeting IDを入力してください</h2>
      <span>
        <input class="balloon" id="zoom_text_style" type="text" v-model="zoom_id" placeholder="xxx xxxx xxxx" maxlength="11" /><label for="zoom_text_style">Zoom ID</label>
      </span>
      <br><!-- 改行 （横に並んでしまったので追加） -->
      <div id="demo-button" @click="roomSet">
        会話を開始する
      </div>
    </div>
    [% include "html/footer.html" %]
  </body>
</html>
