<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script async src="[[ url_for('static', filename='js/app.js') ]]"></script>
    <link rel="stylesheet" href="[[ url_for('static', filename='css/styles.css') ]]"></script>
    <link rel="icon" type="image/x-icon" href="[[ url_for('static', filename='images/favicon.png') ]]">
    <title>逆オウム返し - オンラインのアイスブレイクツールならMeltice</title>
  </head>
  <body>
    [% include "html/header.html" %]
    <div id="torrap">
      <p>入力した文字: {{ text }}</p>
      <input type="text" v-model="text">
      <input type="button" @click="torrapCommunicate" value="button">
      <p>逆オウム返し: {{ res }}</p>
    </div>
    [% include "html/footer.html" %]
  </body>
</html>
